      <div class="card" style="width:25%">
  <img class="card-img-top" src="{{this.images.THUMBNAIL.url}}" alt="{{this.label}}">
  <div class="card-body">
    <h5 class="card-title">{{this.label}}</h5>
    <p class="card-text">Calories: {{this.calories}}</p>
    <p>Source:</p>
    <a href="{{this.url}}" class="btn btn-primary">{{this.source}}</a>
    <a href="#makefavourite">♡</a>
  </div>
</div>

