      <div class="card recipe-card m-1">
 <a href="/recipes/{{this.label}}"><img class="card-img-top" src="{{this.images.LARGE.url}}" alt="{{this.label}}"></a> 
  <div class="card-body p-3 d-flex flex-column justify-content-around">
    <a class="card-title" href="/recipes/{{this.label}}"><h6>{{this.label}}</h6></a> 
    <p class="card-text"><b>Type of dish:</b> <span class="capitalize">{{this.dishTypeString}}</span></p>
    <p class="card-text"><b>Cuisine:</b> <span class="capitalize">{{this.cuisineTypeString}}</span></p>
    <p class="card-text"><b>Calories:</b> {{this.calories}}</p>
     <a href="{{this.url}}" class="btn source-btn">Source: {{this.source}}</a>
    </div>
</div>

