      <div class="card m-1" style="width:24%">
 <a href="#"><img class="card-img-top" src="{{this.images.LARGE.url}}" alt="{{this.label}}"></a> 
  <div class="card-body p-3">
    <a class="card-title" href="#"><h6>{{this.label}}</h6></a> 
    <p class="card-text">Calories: {{this.calories}}</p>
    <p>Source:</p>
    <a href="{{this.url}}" class="btn">{{this.source}}</a>
    <a href="#makefavourite">♡</a>
  </div>
</div>

