      <div class="card" style="width:25%">
  <img class="card-img-top" src="{{this.recipe.images.THUMBNAIL.url}}" alt="{{this.recipe.label}}">
  <div class="card-body">
    <h5 class="card-title">{{this.recipe.label}}</h5>
    <p class="card-text">Calories: {{this.recipe.calories}}</p>
    <p>Source:</p>
    <a href="{{this.recipe.url}}" class="btn btn-primary">{{this.recipe.source}}</a>
    <a href="#makefavourite">♡</a>
  </div>
</div>

