<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-3 pe-0 filter-container">
      
<div class="accordion accordion-flush p-2 border border-2 rounded" id="filter-accordion">
  <div class="accordion-item">
    <h3 class="accordion-header" id="filter-accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter-accordion-collapse" aria-expanded="true" aria-controls="filter-accordion-collapse">
        Filters
      </button>
    </h3>
    <div id="filter-accordion-collapse" class="accordion-collapse collapse show" aria-labelledby="filter-accordion-header" data-bs-parent="#filter-accordion">
      <form action="/" method="POST" id="recipe-filter">
       <h6 class="mt-1">Search terms</h6>
       <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       <div class="diet-restrictions">
    <h6 class="mt-1">Restrictions</h6>
    <select class="form-select form-select-sm" aria-label=".form-select-sm" id="dietary-restrictions-select">
        <option selected>None</option>
        <option value="Vegan">Vegan</option>
        <option value="Alcohol-Free">Alcohol-free</option>
        <option value="Celery-Free">Celery-free</option>
        <option value="Dairy-Free">Dairy-free</option>
        <option value="Egg-Free">Egg-free</option>
        <option value="Gluten-Free">Gluten-free</option>
        <option value="Low-potassium">Low-potassium</option>
        <option value="Low-sugar">Low-sugar</option>
        <option value="Lupine-Free">Lupine-free</option>
        <option value="Mustard-Free">Mustard-free</option>
        <option value="No oil added">No oil added</option>
        <option value="Paleo">Paleo</option>
        <option value="Peanut-Free">Peanut-free</option>
        <option value="Sesame-Free">Sesame-free</option>
        <option value="Soy-Free">Soy-free</option>
        <option value="Tree-Nut-Free">Tree nut-free</option>
        <option value="Wheat-Free">Wheat-free</option>
      </select>
      <div id="dietary-restrictions-filter-list"></div>
      </div>
      <div class="cuisine">
      <h6 class="mt-1">Cuisine</h6>
      <select class="form-select form-select-sm" aria-label=".form-select-sm" id="cuisine-select">
        <option selected>All</option>
        <option value="american">American</option>
        <option value="asian">Asian</option>
        <option value="british">British</option>
        <option value="caribbean">Caribbean</option>
        <option value="centralEurope">Central European</option>
        <option value="easternEurope">Eastern European</option>
        <option value="french">French</option>
        <option value="indian">Indian</option>
        <option value="kosher">Kosher</option>
        <option value="mediterranean">Mediterranean</option>
        <option value="mexican">Mexican</option>
        <option value="middleEastern">Middle Eastern</option>
        <option value="nordic">Nordic</option>
        <option value="southAmerican">South American</option>
        <option value="southEastAsian">South East Asian</option>
      </select>
      <div id="cuisine-filter-list"></div>
      </div>
      <div class="meal-type">
      <h6 class="mt-1">Type of meal</h6>
      <select class="form-select form-select-sm" aria-label=".form-select-sm" id="dish-type-select">
        <option selected>All</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="snack">Snack</option>
        <option value="teatime">Teatime</option>
        <option value="dinner">Dinner</option>
      </select>
      <div id="meal-type-filter-list"></div>
      </div>
      <div class="dish-type">
      <h6 class="mt-1">Type of dish</h6>
      <select class="form-select form-select-sm" aria-label=".form-select-sm" id="dish-type-select">
        <option selected>All</option>
        <option value="biscuits and cookies">Biscuits and cookies</option>
        <option value="bread">Bread</option>
        <option value="cereals">Cereals</option>
        <option value="Condiments and sauces">Condiments and sauces</option>
        <option value="desserts">Desserts</option>
        <option value="main course">Main courses</option>
        <option value="pancake">Pancakes</option>
        <option value="preps">Preps</option>
        <option value="preserve">Preserves</option>
        <option value="salad">Salads</option>
        <option value="sandwiches">Sandwiches</option>
        <option value="side dish">Side dishes</option>
        <option value="starter">Starters</option>
        <option value="sweets">Sweets</option>
      </select>
      <div class="dish-type-filter-list"></div>
      </div>
      <h6 class="mt-1">Number of Ingredients</h6>
      <div class="numberOfIngredients d-flex">
        <input class="form-control form-control-sm minmax" type="number" placeholder="Min" aria-label=".form-control-sm">
        <input class="form-control form-control-sm" type="number" placeholder="Max" aria-label=".form-control-sm">
      </div>
      <h6 class="mt-1">Calories</h6>
      <div class="calories d-flex">
        <input class="form-control form-control-sm minmax" type="number" placeholder="Min" aria-label=".form-control-sm">
        <input class="form-control form-control-sm" type="number" placeholder="Max" aria-label=".form-control-sm">
      </div>
      <h6 class="mt-1">Time needed (minutes)</h6>
      <div class="time-needed d-flex">
        <input class="form-control form-control-sm minmax" type="number" placeholder="Min" aria-label=".form-control-sm">
        <input class="form-control form-control-sm" type="number" placeholder="Max" aria-label=".form-control-sm">
      </div>
      <h6 class="mt-1">Ingredients to exclude</h6>
     <textarea class="form-control" id="ingredientsToExclude" rows="3"></textarea>
  <input type="submit" value="Apply filters" class="btn mt-3" style="width:100%">
    
  </div>
  
</div>

      
  </form>
</div>
    </div>
    <div class="col-xs-12 col-lg-9">
   {{#each foundRecipes}}
      <div class="card" style="width:25%">
  <a href="/recipes/{{recipe.label}}"> <img class="card-img-top" src="{{recipe.images.THUMBNAIL.url}}" alt="{{recipe.label}}"></a>
  <div class="card-body">
    <a href="/recipe-single"> <h5 class="card-title">{{recipe.label}}</h5></a>
    <p class="card-text">Calories: {{recipe.calories}}</p>
    <p>Source:</p>
    <a href="{{recipe.url}}" class="btn btn-primary">{{recipe.source}}</a>
    <a href="#makefavourite">♡</a>
  </div>
</div>
   {{/each}}
         </div>
  </div>
</div>