<div class="container-fluid recipe-single-page p-0">

  <div class="row">
    <div
      class="d-flex flex-column justify-content-center align-items-center recipe-single-hero-img"
      style="background:linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(199, 199, 199, 0.3)), url({{recipe.images.LARGE.url}}); background-attachment: fixed;  background-position: center;  background-repeat: no-repeat;  background-size: cover;"
    >
      <h1 class="mb-3 text-center text-white">{{recipe.label}}</h1>
    </div>

    <div class="row p-0 mt-1">
      <div class="col border border-1 rounded p-2 mx-3 mt-3 d-flex flex-nowrap funcBar" style="background-color:white">
        <a class="btn me-2" href="/">← Back to list</a>
        <a class="btn" href="https://www.facebook.com/sharer.php?u=https://legu-me.herokuapp.com/recipes/{{recipe.label}}">Share on Facebook</a>
        <form action="" method="POST" id="fav-recipe-form" class="flex-grow-1">
          <button type="submit" id="markFavourite" class="btn {{#if isFavourite}} isFavRecipe {{else}} notFavRecipe {{/if}}" style="float:right">{{#if isFavourite}} ♥ Favourite {{else}} ♡ Mark as favourite {{/if}}</button>
          </form>
      </div>
    </div>
    <div class="row p-0 my-2 recipe-info-row">
      <div class="col col-xs-12 col-lg-6 p-0">
        <div class="col-inner-container border border-1 rounded p-3 mx-3 me-2 my-2">
          <h3>Ingredients</h3>
          <div class="d-flex flex-wrap border border-1 p-3 mb-2">
          <ul>
            {{#each recipe.ingredientLines}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          </div>
          <h3>Preparation</h3>
          <p style="margin-bottom:5px">Read recipe instructions on:</p>
          <a href="{{recipe.url}}"><button type="button" class="btn instructions-source-link">{{recipe.source}}</button></a>
         
         </div>
          
      </div>
    
    <div class="col col-xs-12 col-lg-6 p-0">
      <div class="col-inner-container border border-1 rounded p-3 mx-3 ms-2 my-2">
        <h3>Recipe Info</h3>
        <div id="recipe-info-list" class="d-flex flex-wrap border border-1 p-3 mb-2">
          <p class="w-50"><b>Calories:</b><span class="capitalize"> {{recipe.calories}}</span></p>
          <p class="w-50"><b>Yields:</b> <span class="capitalize">{{recipe.yield}} servings</span></p>
          <p class="w-50"><b>Type of dish:</b> <span class="capitalize">{{recipe.dishTypeString}}</span></p>
          <p class="w-50"><b>Type of meal:</b> <span class="capitalize">{{recipe.mealTypeString}}</span></p>
          <p class="w-50"><b>Type of cuisine:</b> <span class="capitalize">{{recipe.cuisineTypeString}}</span></p>
          <p class="w-100"><b>Health labels:</b> <span class="capitalize">{{recipe.healthLabelsString}}</span></p>
        </div>
        <div class="accordion" id="nutrient-info">
          <div class="accordion-item">
            <h2 class="accordion-header" id="nutrient-info-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#nutrient-info-body"
                aria-expanded="true"
                aria-controls="nutrient-info-body"
              >
                Nutrient Info
              </button>
            </h2>
            <div id="nutrient-info-body" class="accordion-collapse collapse" aria-labelledby="nutrient-info-header" data-bs-parent="#nutrient-info">
              <div class="accordion-body d-flex flex-wrap">
                {{#each recipe.totalNutrients}}
                  <p class="w-50"><b>{{this.label}}: </b>{{this.quantity}} {{this.unit}}</p>
                {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row p-3 mt-3" style="background-color:#95915B">
      <div class="col">
        <h4 class="text-center related-recipes-heading mb-3"> Other recipes you might also like: </h4>
        <div class="recipe-cards-container border border-3 border-white rounded d-flex justify-content-around p-3 mb-3">
          {{#each randomRecipes}}
          {{> recipeCard this}} 
          {{/each}}
        </div>
      </div>
    </div>

</div>