{{#if userInSession}}

  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend! And your email is: {{ userInSession.email }}</p>

<form action="/profile" method="post" enctype="multipart/form-data"> 

<img src={{userInSession.profilePicture}} name="existingImage" class="img-thumbnail rounded">
<input type="file" name="profile-cover-image" />
<button type="submit" class="btn btn-primary text-left">Edit profile pic</button>
<p>Name:</p> 
</form>


{{!-- <div class="container-fluid recipe-single-page p-0">
  <div class="row">
    <div
      class="d-flex flex-column cover align-items-centerimg-thumbnail rounded"
      style="background:linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(199, 199, 199, 0.3)), url({{userInSession.profilePicture}}); 
        background-position: center;  background-repeat: no-repeat;  background-size: 20rem; height:40vh;>
    </div>
    </div>
  <div class="d-flex flex-column cover align-items-center">
      <input type="file" name="profile-cover-image" />
<button type="submit" class="btn">Edit profile pic</button>
</div> --}}

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
</div>